body {
    background-image: url("tausta.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

}

.tausta {
    background-color: rgb(127, 178, 255);
    padding: 20px;
    margin: 50px;
    border: 4px solid #000;  /* Musta viiva, voit vaihtaa väriä tarpeidesi mukaan */

}

.lomake-container {
    background-color:rgb(127, 178, 255);
    padding: 20px;
    margin: 50px;
    border: 4px solid #000;  /* Musta viiva, voit vaihtaa väriä tarpeidesi mukaan */

}

.container{
    padding: 50px;
    background-color: rgb(127, 178, 255);
    border: 4px solid #000;  /* Musta viiva, voit vaihtaa väriä tarpeidesi mukaan */

}

#adminPolls {
    border: 4px solid #000;  /* Musta viiva, voit vaihtaa väriä tarpeidesi mukaan */
    padding: 10px;  /* Lisää hieman tyhjää tilaa viivan ja äänestyksen sisälle */
}

#userPolls {
    border: 4px solid #000;  /* Musta viiva, voit vaihtaa väriä tarpeidesi mukaan */
    padding: 10px;  /* Lisää hieman tyhjää tilaa viivan ja äänestyksen sisälle */
}

#pollResults {
    border: 4px solid #000;  /* Musta viiva, voit vaihtaa väriä tarpeidesi mukaan */
    padding: 10px;  /* Lisää hieman tyhjää tilaa viivan ja äänestyksen sisälle */

}